Repository typed-ember/ember-cli-typescript, pull requests merged in 2022-02, with the labels that each got.

#1472 Update types & ember to 4.x
  .eslintrc.js
  .github/workflows/ci.yml
  docs/ember/testing.md
  known-typings.md
  package.json
  tests/dummy/app/app.js
  tests/dummy/app/components/js-importing-ts.hbs
  tests/dummy/app/components/js-importing-ts.js
  tests/dummy/app/components/test-one.js
  tests/dummy/app/components/ts-component.hbs
  tests/dummy/app/components/ts-component.ts
  tests/dummy/app/controllers/application.ts
  tests/dummy/app/router.js
  tests/dummy/app/templates/components/.gitkeep
  ts/tests/acceptance/build-test.ts
  yarn.lock
Labels: build, docs, dependencies, BREAKING

#1476 fix: Use `moduleName()` to determine addon's referenced name.
  ts/lib/commands/precompile.ts
  ts/tests/commands/precompile-test.ts
  ts/types/ember-cli/index.d.ts
Labels: bug

#1410 docs: add Ember Data transform page
  docs/ember-data/transforms.md
Labels: docs
